body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ffebf0;
}

.app {
  background: #201e1e; /* solid pink */
  color: white;
  min-height: 100vh;
}
.app {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-bottom: 60px; /* to prevent footer overlap */
}
