.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e81e83;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(235, 230, 230);
}

.search-bar {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 8px;
  padding: 0.4rem 1rem;
  width: 500px;
  box-shadow: black 0px 2px 2px ;
  
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
}

.search-icon {
  color: #d80d72;
  margin-right: 0.5rem;
}

.nav-icon {
  margin: 0 0.8rem;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
  transition: transform 0.2s;
}

.nav-icon:hover {
  transform: scale(1.2);
  color: #ffe4ec;
}
